# ---------------------------------------------------------------------------- +
# p3_budman configuration settings
# ---------------------------------------------------------------------------- +
# TODO: import budman_dc_namespace for constants use herein, BDM_CATEGORIZATION, etc.
# ---------------------------------------------------------------------------- +

# root level
app_name = "p3_budget_manager"    # used for some defaults in places
short_app_name = "budman"         # ditto

# [budman] Table
[budman]
bdm_folder = "~/OneDrive/budget"  # Root folder where data files will go
store_filename = "p3_budget_manager_ca063e8b"  # a BSM file
store_filetype = ".jsonc"  # a BSM filetype
store_url = "file:///C:/Users/ppain/OneDrive/budget/p3_budget_manager_ca063e8b.jsonc"  
default_fi = "boa" 
default_workflow = "categorization" 
default_workflow_purpose = "wf_working" 
default_workbook_type = "transactions"

[category_catalog] # Dict[fi_key, full filename of FI's budget category defs]
boa = { txn_categories_full_filename = "All_TXN_Categories.txn_categories.json", category_map_full_filename = "boa_category_map.py"}

# [logging] Table
[logging]
default_handler = "file"
default_level = "DEBUG"  # DEBUG, INFO, WARNING, ERROR, CRITICAL
config_filename = "budget_model_logging_config.jsonc"  # logging config file
