# ---------------------------------------------------------------------------- +
# p3_budman configuration settings
# ---------------------------------------------------------------------------- +
# TODO: import budman_dc_namespace for constants use herein, BDM_CATEGORIZATION, etc.
# ---------------------------------------------------------------------------- +

app_name = "p3_budget_manager"    # used for some defaults in places
short_app_name = "budman"         # ditto

[budman]
folder = "~/OneDrive/budget"   # Where data files will go
store_filename = "p3_budget_manager_ca063e8b"  # a BSM file
store_filetype = ".jsonc"  # a BSM filetype
default_fi = "boa" 
default_workflow = "categorization" 
default_workbook_type = "wf_working" 


